<h1 style="text-align: center;">{{ titulo }}</h1>
<form>
  <input type="text" name="nombre" [(ngModel)]="nombre"><br>
  <input type="text" name="apellido" [(ngModel)]="apellido"><br>
  <input type="text" name="cargo" [(ngModel)]="cargo"><br>
  <input type="submit" value="Registrar" (click)="registrar_usuario()">
</form>
<br>
<ng-template #sinRegistrar>
  <p>Nadie Registado</p>
</ng-template>
<p *ngIf="registrado; else sinRegistrar">{{ mensaje }} con el nombre de {{ nombre }} {{ apellido }} y con el cargo <span [ngClass]="{paraIngenieros: cargo=='Ingeniero'}">
{{cargo}}</span></p>
<hr>
<h5>Entradas de blog</h5>
<ul>
  <li *ngFor="let entrada of entradas; let i=index">
      {{ entrada.titulo }}
      <span>Posición: {{ i }}</span>
  </li>
</ul>